.buttonFixed {
  position: fixed;
  top: 25px;
  left: 25px;
}

.bubbleText {
  text-shadow: 1px 0 0 darkslategrey, 0 1px 0 darkslategrey, -1px 0 0 darkslategrey, 0 -1px 0 darkslategrey;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }